/* barre de navigation */
img{
    width: 90px;
    height: 90px;
}
.barre_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 95%;
}

button{
    color:black;
    border: #fdd7d0;
    border-radius: 50px;
    background: linear-gradient(145deg, #fbffff, #d4e6e1);
    box-shadow:  20px 20px 60px #c8d9d5,
             -20px -20px 60px #ffffff;
    padding: 15px 10px 15px 10px;
    width: 100px;
    height: 80px;
    font-family: 'Josefin Sans', sans-serif;
}
button:hover{
    color: #e4fbf6;
    border-radius: 50px;
    background: linear-gradient(145deg, #ffe6df, #e4c2bb);
    box-shadow:  20px 20px 60px #d7b7b1,
             -20px -20px 60px #fff7ef;
}
#contactus{
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}
#contactus:hover{
    color: #fdd7d0;
    font-size: 200%;
}

#a_propos{
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}
#a_propos:hover{
    color: #fdd7d0;
    font-size: 200%;
}

/* Titre */
h1{
    text-align: center;
    padding: 100px;
}
#titre{
    font-family: 'Dancing Script', cursive;
    font-size: 150%;
}
/* About */
h2{
    text-align: center;
}
#characters{
    font-family: 'Josefin Sans', sans-serif;
}
#characters:hover{
    font-size: 150%;
    color: #fdd7d0;
}
h3{
    text-align: center;
}
#characters1{
    font-family: 'Josefin Sans', sans-serif;
}
#characters1:hover{
    font-size: 150%;
    color: #fdd7d0;
}
.contenu1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    height: 100px;
}
#abeille{
    width: 200px;
    height: 200px;
}
#commentaire_abeille{
    font-family: 'Josefin Sans', sans-serif;
    height: 50px;
    text-align: center;
    font-size: 110%;
}
.contenu2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    height: 100px;
}
#commentaire_giraffe{
    font-family: 'Josefin Sans', sans-serif;
    height: 50px;
    text-align: center;
    font-size: 110%;
}
#giraffe{
    width: 200px;
    height: 200px;
}
.contenu3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    height: 100px;
}
#koala{
    width: 200px;
    height: 200px;
}
#commentaire_koala{
    font-family: 'Josefin Sans', sans-serif;
    height: 50px;
    text-align: center;
    font-size: 110%;
}
.contenu4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    height: 100px;
}
#commentaire_panda{
    font-family: 'Josefin Sans', sans-serif;
    height: 50px;
    text-align: center;
    font-size: 110%;
}
#panda{
    width: 200px;
    height: 200px;
}
.contenu5{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    height: 100px;
}
#pingouin{
    width: 200px;
    height: 200px;
}
#commentaire_pingouin{
    font-family: 'Josefin Sans', sans-serif;
    height: 50px;
    text-align: center;
    font-size: 110%;
}
.contenu6{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    height: 100px;
}
#commentaire_singe{
    font-family: 'Josefin Sans', sans-serif;
    height: 50px;
    text-align: center;
    font-size: 110%;
}
#singe{
    width: 200px;
    height: 200px;
}

/* My Contact */
#contact{
    background-color:#f5fffd ;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    padding: 8px;
    margin: 20px;
}
#behance{
    color: black;
}
#behance:hover{
    color: #fdd7d0;
    font-size: 200%;
}
.tel_mail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 110%;
}
#copyright{
    display: flex;
    justify-content: right;
}